<table>
    <tr>
        <th>Name</th>
        <td>{{user.name}}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{user.email}}</td>
    </tr> 
    <tr>
        <th>Street Name</th>
        <td>{{user.address.street}}</td>
    </tr>
    <tr>
        <th>City</th>
        <td>{{user.address.city}}</td>
    </tr>
    <tr>
        <th>Zip Code</th>
        <td>{{user.address.zipcode}}</td>
    </tr>
    <tr>
        <th>Company Name</th>
        <td>{{user.company.name}}</td>
    </tr>
</table>